#maincateringpics {
    margin-top: 52px;
}
#maincateringmenu {
    width:128px;
    float: left;
    margin-left: 32px;
    margin-top: 32px;
}
#mainmidmenu {
    padding-left: 60px;
    margin-top: 32px;
}
img.top32 {
    margin-top: 32px;
}